* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

title {
  display: none;
}

body {
  font-family: "Ubuntu", "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #131415;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.header {
  background-color: #1c1e1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 20px;
  -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.31);
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 185px;
  width: 70%;
}
.search-form__input {
  font-family: "Ubuntu";
  font-size: 16px;
  background: #2c3032;
  border: none;
  border-radius: 20px;
  padding: 20px 49px 20px 22px;
  height: 20px;
  display: block;
  color: #fcfeff;
  max-width: 300px;
  width: 100%;
  -webkit-transition: 0.55s;
  transition: 0.55s;
  outline: none;
}
.search-form__input:focus {
  -webkit-transition: 0.55s;
  transition: 0.55s;
  outline: #1f9ede solid 1px;
}
.search-form__input:hover {
  -webkit-transition: 0.55s;
  transition: 0.55s;
  outline: #1f9ede solid 1px;
}
.search-form__input:not(:-moz-placeholder-shown) + .search-form__button {
  cursor: pointer;
  background-color: #1f9ede;
  -moz-transition: 0.55s;
  transition: 0.55s;
}
.search-form__input:not(:-ms-input-placeholder) + .search-form__button {
  cursor: pointer;
  background-color: #1f9ede;
  -ms-transition: 0.55s;
  transition: 0.55s;
}
.search-form__input:not(:placeholder-shown) + .search-form__button {
  cursor: pointer;
  background-color: #1f9ede;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}
.search-form__button {
  width: 31px;
  height: 31px;
  min-width: 31px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.55s;
  transition: 0.55s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 36px;
  outline: none;
}
.search-form__button__icon {
  fill: #60676a;
  -webkit-transition: 0.55s;
  transition: 0.55s;
  stroke-width: 1px;
}
.search-form__button:hover {
  -webkit-transition: 0.55s;
  transition: 0.55s;
  background-color: #1f9ede;
}
.search-form__button:hover .search-form__icon {
  fill: #fcfeff;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}
.search-form__button:focus {
  -webkit-transition: 0.55s;
  transition: 0.55s;
  background-color: #1f9ede;
}
.search-form__button:-moz-placeholder-shown + .search-form__button__icon {
  cursor: auto;
}
.search-form__button:-ms-input-placeholder + .search-form__button__icon {
  cursor: auto;
}
.search-form__button:placeholder-shown + .search-form__button__icon {
  cursor: auto;
}
.search-form__icon {
  fill: #60676a;
  -webkit-transition: 0.55s;
  transition: 0.55s;
  stroke-width: 1px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0 40px 0;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__item {
  display: block;
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.gallery__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery__figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.gallery__img:hover {
  -webkit-transition: all 20s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 20s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
}
.gallery__figcaption {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5019607843);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 18px;
}
.gallery__caption {
  font-family: Ubuntu;
  font-size: 19px;
  font-weight: 300;
  line-height: 20px;
}

.load-more {
  width: 150px;
  height: 50px;
  cursor: pointer;
  color: #fcfeff;
  background: #2c3032;
  border: none;
  border-radius: 50px;
  outline: 1px solid #1f9ede;
  margin: auto;
  font-family: Ubuntu;
  font-size: 20px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.load-more:hover {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  outline: #1f9ede solid 1px;
  color: #1f9ede;
  scale: 1.05;
}/*# sourceMappingURL=main.css.map */