* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
title {
  display: none;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
  background-color: #131415;
}

.header {
  background-color: #1c1e1f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 185px;
  width: 70%;
}
.search-form__input {
  background: #2c3032;
  border: none;
  border-radius: 20px;
  padding: 20px 49px 20px 22px;
  height: 20px;
  display: block;
  color: #fcfeff;
  max-width: 300px;
  width: 100%;
  transition: 0.55s;
  outline: #1f9ede00 solid 1px;
}
.search-form__input:focus {
  transition: 0.55s;
  outline: #1f9ede solid 1px;
}
.search-form__input:hover {
  transition: 0.55s;
  outline: #1f9ede solid 1px;
}

.search-form__button {
  width: 31px;
  height: 31px;
  min-width: 31px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.55s;
  display: flex;
  position: relative;
  right: 36px;
  outline: #1f9ede00 solid 1px;
}
.search-form__button:focus {
  transition: 0.55s;
  outline: #1f9ede solid 1px;
}
.search-form__input:placeholder-shown + .search-form__button {
  cursor: auto;
}
.search-form__input:not(:placeholder-shown) + .search-form__button {
  cursor: pointer;
  background-color: #1f9ede;
  transition: 0.55s;
}
.search-form__icon {
  fill: #60676a;
  transition: 0.55s;
  stroke-width: 1px;
}
.search-form__input:not(:placeholder-shown) + .search-form__button .search-form__icon {
  fill: #fcfeff;
  transition: 0.55s;
}
